.aboutMeImage {
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 12rem;  
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0rem;
    background-image: url("https://raw.githubusercontent.com/reperez120/rachel-e-perez-portfolio/refs/heads/master/images/2024%20headshot.jpeg");
}
  
@media screen and (min-width: 700px) {
    .aboutMeImage {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-image: url("https://raw.githubusercontent.com/reperez120/rachel-e-perez-portfolio/refs/heads/master/images/2024%20headshot.jpeg");
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        height: 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
  
.aboutMain {
    margin-left: 2rem;
    margin-right: 2rem;
}

.aboutColumn {
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 700px) {
  .aboutColumn {
    flex: 20%;
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem; 
  }
}

.aboutRow {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; 
    background-color: white;
    border: .5px solid lightgray;
    border-radius: .25rem;
}

@media screen and (max-width: 700px) {
    .aboutRow {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    }
}
